# Ignore compiled files
*.o
*.out
*.exe

# Ignore the executable file in the root directory
main

# Ignore files in the dist/ directory
bin/

# Ignore any temporary files or directories
*.dSYM/
*.swp
*~

**/*.local.*
